@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");


:root {
  --color-primary: #7380ec;
  --box-shadow:  0 2rem 3rem var(--color-light);
}

/* Resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, input, textarea {
  font-family: "Poppins",sans-serif;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

.container:before {
  content: "";
  position: absolute;
  width: 2000px;
  height: 2000px;
  border-radius: 50%;
  background: linear-gradient(-45deg, var(--color-primary), var(--color-primary));
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  z-index: 6;
  transition: 1.8s ease-in-out;
}

.form-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-payorder {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%,-50%);
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
  transition: 1s 0.7s ease-in-out;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: 0.2s 0.7s ease-in-out;
}

form.sign-in-form {
  z-index: 2;
}

form.payorder-form {
  z-index: 1;
  opacity: 0;
}

form p {
  max-width: 340px;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  color: gray;
  font-weight: 500;
}

.select-box {
  position: relative;
  max-width: 380px;
  width: 100%;
  overflow: visible;
}

.select-box .input-field {
  grid-template-columns: 15% 70% 15%;
}

#arrow {
  font-size: 1.1rem;
  transition: 0.3s;
}

.select-option input {
  cursor: pointer;
}


.content {
  position: absolute;
  background-color: #fff;
  padding: 20px;
  color: #000;
  border-radius: 7px;
  width: 100%;
  z-index: 999;
  top: 60px;
  display: none;
}

.search input {
  width: 100%;
  font-size: 17px;
  padding: 10px;
  outline: 0;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
}

/* List - items */

.list-items {
  position: absolute;
  width: 100%;
  max-width: 340px;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  max-height: 150px;
  overflow-y: auto;
}


.list-items .item {
  display: flex;
  align-items: center;
  list-style: none;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 15px;
  border-radius: 8px;
}

.list-items .item:hover {
  background-color: #e7edfe;
}



.item .item-text {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-primary);
}

.item .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 6px;
  margin-right: 12px;
  border: 1.5px solid #c0c0c0;
  transition: all 0.3s ease-in-out;
}

.item.checked .checkbox {
  background-color: #4070f4;
  border-color: #4070f4;
}

.checkbox .check-icon {
  color: white;
  font-size: 11px;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}

.item.checked .check-icon {
  transform: scale(1);
} 

.select-box.active .content {
  display: block;
}

.select-box.active .fa-caret-down {
  transform: rotate(-180deg);
}

.payorder-form textarea {
  position: absolute;
  left: 50px;
  border: none;
  outline: none;
  background: none;
  padding: 13px;
}

.payorder-form textarea::placeholder {
  color: #aaa;
  font-weight: 500;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  position: relative;
  max-width: 380px;
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 .4rem;
}

.input-field i{
  text-align: center;
  line-height: 40px;
  color: #acacac;
  font-size: 0.8rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 0.8rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.btn {
  width: 150px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  background-color: var(--color-primary);
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease-in-out;
}

.btn:hover {
  box-shadow: none;
  background-color: #4d84e2;
  transform: translateY(-5px);
}

/* Panel */ 

.panels-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 7;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 19% 2rem 14%;
}

.right-panel .panel-content {
  padding-right: 100px;
}

.panel .panel-content {
  color: white;
  transition: .9s .6s ease-in-out;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.9rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid white;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.img {
  width: 100%;
  transition: 1.1s .4s ease-in-out;
}

.right-panel .panel-content, .right-panel .img {
  transform: translateX(800px);
}

/* Animation */

.container.payorder-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.payorder-mode .left-panel .img,
.container.payorder-mode .left-panel .panel-content {
  transform: translateX(-800px);
}

.container.payorder-mode .right-panel .panel-content, 
.container.payorder-mode .right-panel .img {
  transform: translateX(0px);
}

.container.payorder-mode .left-panel {
  pointer-events: none;
}

.container.payorder-mode .right-panel {
  pointer-events: all;
}

.container.payorder-mode .signin-payorder {
  left: 25%;
}

.container.payorder-mode form.sign-in-form {
  z-index: 1;
  opacity: 0;
}

.container.payorder-mode form.payorder-form {
  z-index: 2;
  opacity: 1;
}

/* Media queries */

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }

  .container:before{
    width: 1500px;
    height: 1500px;
    left: 30%;
    bottom: 68%;
    transform: translateX(-50%);
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .signin-payorder {
    width: 100%;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
  }

  .panel .content {
    padding-right: 15%;
    transition: 0.9s 0.8s ease-in-out;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
    margin-bottom: 10px;
  }

  .btn.transparent {
    width: 130px;
    height: 100%;
    height: 35px;
    font-size: 0.7rem;
  }

  .img {
    width: 200px;
    transition: 0.9s 0.6s ease-in-out;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }
  
  .right-panel .panel-content, .right-panel .img {
  transform: translateY(300px);
  }

  .container.payorder-mode:before {
    transform: translate(-50%, 100%);
    bottom: 30%;
    right: initial;
  }

  .container.payorder-mode .left-panel .img,
  .container.payorder-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.payorder-mode .signin-payorder {
    top: 5%;
    transform: translate(-50%, 0);
    left: 50%;
  }

  .payorder-form h2{
    margin-bottom: 15px;
  }

  .payorder-input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
    margin-inline: 10px;
  }
}

@media (max-width: 570px) {
  #sign-in-Btn {
    width: 350px;
    height: 45px;
    font-size: 0.7rem;
  }

  #proceed {
    width: 360px;
  }

  form {
    padding: 0 1.5rem;
  }

  .img {
    display: none;
  }

  .right-panel {
    display: none;
  }

  .payorder-form {
    margin-bottom: 60px;
  }

  .payorder-form h2 {
    font-size: 1.3rem;
    margin-bottom: 5px;
  }

  .container:before {
    bottom: 75%;
    left: 50%;
  }

  .container.payorder-mode:before {
    display: none;
  }

  .payorder-input-container {
    grid-template-columns: 1fr;
    margin-bottom: 5px;
    gap: 0;
  }

  .payorder-input-container .input-field {
    height: 40px;
  }

  .payorder-form p {
    font-size: 0.7rem;
  }
}